// add your custom styles here
// to learn more about SASS, visit sass-lang.com

$orange: #FF6019;

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

a {
  transition: background 0.3s ease 0s, color 0.3s ease 0s, transform 0.1s ease 0s;
}

/* ---------------------------- */
/*  CONTENT
/* ---------------------------- */

// right

.content__right {
  position: fixed;
  height: 100%;

  img {
    width: 100%;
  }
}

.social__title {
  font-family: 'gothampro-black';
  font-size: 16px;
  color: #505050;
  text-transform: uppercase;
}

.right__address__list {
  margin-top: 15px;
}

.right__address__list__title {
  font-family: 'gothampro-black';
  font-size: 16px;
  color: #505050;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.right__address__list__info {
  font-family: 'gothampro';

  & p {
    margin-left: 6px;
  }
  & > img {
    width: 13px;
  }
}

.right__address__list__info * {
  display: inline-block;
}


.social__list {
  li {
    display: inline-block;

    a {
      display: block;
      position: relative;
      overflow: hidden;

      & > img {
        display: block;
        transform: scale(1);
        opacity: 1;
        transition: transform 0.1s ease 0s, opacity 0.3s ease 0s;
      }

      & > img:last-child {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// left

.content__left {
  padding-top: 50px;
}

.content__item__img {
  width: 100%;

  img {
    width: 100%;
  }
}

.content__item__size {
  border: 1px solid $orange;
  padding: 15px;
}

.size__btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: $orange;
  padding: 7px 25px;
  margin-top: 10px;
  color: #fff;
  border: 1px solid $orange;

  &:hover {
    color: $orange;
    background-color: #fff;
  }

  &:focus,
  &:active {
    color: #fff;
    background-color: $orange;
  }
}

/* ---------------------------- */
/*  COLORS
/* ---------------------------- */

.color__red {
  background-color: red;
}

.color__green {
  background-color: green;
}

.color__yellow {
  background-color: yellow;
}

.color__black {
  background-color: black;
}

.content__color {
  margin-top: 30px;
}

.color__btn {
  border: 1px solid $orange;
  text-align: center;
  display: inline-block;
  width: 10%;
  padding: 5px 0;
  color: #fff;

  &.active {
    background: url(../img/done.png) no-repeat center;
    background-size: contain;
  }

  &:hover {
    color: #fff;
  }
}



/* ---------------------------- */
/*  TABS
/* ---------------------------- */

.tabs__control {
  margin-bottom: 40px;
}

.tabs__controls-item {
  display: inline-block;
  width: 130px;
  font-size: 16px;
  text-align: center;
  color: #FF6019;
  background: #fff;
  border: 1px solid #FF6019;
  transition: background 0.3s ease 0s, color 0.1s ease 0s, transform 0.1s ease 0s;

  &.active,
  &:hover {
    color: #fff;
    background: #FF6019;
  }
}

.tabs__control-link {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.tabs__item {
  display: none;

  &.active {
    display: block;  }
}





